{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
	{{message}}
</div>
{% endif %}
<div class="panel panel-default">
	<div class="panel-heading h2">
		{{user.username}}
		<span class="badge">
			{{user.id}}
		</span>
	</div>
	<div class="panel-body">
		<ul>
			<li><b>Created:</b> {{user.created_at}}</li>
			<li><b>Edited:</b> {{user.updated_at}}</li>
			{% if user.admin %}<li><b>Admin</b></li>{% endif %}
		</ul>
		<ul class="list-inline" style="margin-left: 10px;">
			<li>
				<b>groups</b>
			</li>
			{% for group in groups %}
			<li>
				<a class="btn btn-xs btn-default" href="{{base_path}}/group/{{group.id}}">{{group.name}}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	
	<ul class="list-inline" style="margin-left: 10px;">
		<li>
			<a class="btn btn-xs btn-primary" href="{{base_path}}/user/{{user.id}}/edit">edit&nbsp;<span class="glyphicon glyphicon-pencil"></span></a>
		</li>
		<li>
			<a data-confirm="Are you sure?" class="btn btn-xs btn-default" rel="nofollow" data-method="delete" href="{{base_path}}/user/{{user.id}}/destroy">delete&nbsp;<span class="glyphicon glyphicon-trash"></span></a>
		</li>
	</ul>
</div>
{% endblock %}