{% extends "base.html" %}
{% block content %}


<table class="table table-hover">
	<thead>
		<tr>
			<th>name</th>
			<th>task count</th>
			<th>user</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for group in groups %}
		<tr>
			<td>{{group.name}}</td>
			<td>{{group.task_count}}</td>
			<td><a href="{{base_path}}/user/{{group->user_id}}">{{group.user.username}}</a></td>
			<td><a class="btn btn-xs btn-default" href="{{base_path}}/group/{{group.id}}"><span class="glyphicon glyphicon-eye-open"></span></a> <form method="post" action="{{base_path}}/group/{{group.id}}/destroy" style="display: inline-block;"><button type="submit" name="id" value="{{task.id}}" class="btn btn-xs btn-default "><span class="glyphicon glyphicon-trash"></span></button>
			</form></td>
		</tr>
		{% endfor %}
	</tbody>
	{% endblock %}