{% extends "base.html" %}
{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">
		{{group.name}}
	</div>
	<ul>
		<li><b>Created:</b> {{group.created_at}}</li>
		<li><b>Edited:</b> {{group.updated_at}}</li>
		<li><b>Task count:</b> {{group.task_count()}}</li>
		<li><b>User:</b> <a href="{{base_path}}/user/{{group.user_id}}">{{group.user.username}}</a></li>
	</ul>
	<ul class="list-inline" style="margin-left: 10px;">
		<!--<li>
			<a class="btn btn-xs btn-primary" href="{{base_path}}/group/{{group.id}}/edit">edit&nbsp;<span class="glyphicon glyphicon-pencil"></span></a>
		</li>-->
		<li>
			<a class="btn btn-xs btn-default" href="{{base_path}}/group/{{group.id}}/destroy">destroy&nbsp;<span class="glyphicon glyphicon-trash"></span></a>
		</li>
	</ul>
</div>

{% for task in group.find_tasks() %}
<div class="panel panel-default">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-remove"></span>
		{{task.name}}
		<span class="badge">
			{{task.priority}}
		</span>
	</div>
	<div class="panel-body">
		{{task.description}}
	</div>
	<ul class="list-inline" style="margin-left: 10px;">
		<li>
			<a class="btn btn-xs btn-default" href="{{base_path}}/task/{{task.id}}"><span class="glyphicon glyphicon-eye-open"></span></a>
		</li>
		<li>
			<a class="btn btn-xs btn-primary" href="{{base_path}}/task/{{task.id}}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
		</li>
		<li>
			{% if task.completed %}
			<a class="btn btn-xs btn-danger" rel="nofollow" href="{{base_path}}/task/{{task.id}}/markasundone"><span class="glyphicon glyphicon-remove"></span></a>
			{% else %}
			<a class="btn btn-xs btn-success" rel="nofollow" data-method="post" href="{{base_path}}/task/{{task.id}}/markasdone"><span class="glyphicon glyphicon-ok"></span></a>
			{% endif %}
		</li>
		<li>
			<form method="post" action="{{base_path}}/task/{{task.id}}/destroy" style="display: inline-block;">
				<button type="submit" name="id" value="{{task.id}}" class="btn btn-xs btn-default "><span class="glyphicon glyphicon-trash"></span></button>
			</form>
			<!--<a data-confirm="Are you sure?" class="btn btn-xs btn-default" rel="nofollow" data-method="delete" href="{{base_path}}/tasks/{{task.id}}"><span class="glyphicon glyphicon-trash"></span></a> -->
		</li>
		{% for g in task.groups %}
		<li>
			<a class="btn btn-xs btn-default" href="{{base_path}}/group/{{g.id}}">{{g.name}}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endfor %}
 <!-- <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Julkaisupäivä</th>
        <th>Julkaisija</th>
        <th>Status</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for game in games %}
        <tr>
          <td><a href="{{base_path}}/game/{{game.id}}">{{game.name}}</td>
          <td>{{game.published}}</td>
          <td>{{game.publisher}}</td>
          <td>
              {% if game.played %}
                <label class="label label-success">pelattu
              {% else %}
                <label class="label label-danger">kesken
              {% endif %}
          </td>
          <td>{{game.added}}</td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/game/{{game.id}}/edit">Muokkaa</a></td>
        </tr>
      {% endfor %}
    </tbody>
</table>-->
{% endblock %}